root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 120

[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = off

[*.{json,jsonc,yml,yaml,lock}]
indent_size = 2

[*.{js,jsx,ts,tsx,css,scss,html}]
indent_size = 2

[*.{xml,gradle,kts}]
indent_size = 4

[*.cs]
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:suggestion

[*.{proto,ipc}]
indent_size = 2

[*.{bat,cmd,ps1}]
end_of_line = crlf

[Makefile]
indent_style = tab
